<div class="container">
    <div class="content">
        <div class="row">
            
            <div class="col-xs-12 col-sm-4 text-center">
                <img class="img-responsive img-circle user-avatar" src="<%= @user.avatar %>">
                <h1>
                    <%= @user.name %>
                </h1>
                <h4 class="username">
                    <%= @user.username %>
                </h4>
                <p>
                    <strong><%= @user.followers %></strong> followers &middot;
                    <strong><%= @user.following %></strong> following
                </p>
                <p>
                    <strong><%= @user.public_repos %></strong> public repos &middot;
                    <strong><%= @user.public_gists %></strong> public gists
                </p>
                <p>
                    Joined GitHub on <strong><%= @user.join_date.to_time.to_formatted_s(:long_ordinal) %></strong>
                </p>
                <p>
                    <%= link_to "https://github.com/" + @user.username, target: "_blank" do %><span class="octicon octicon-mark-github"></span><% end %>
                </p>
            </div>

            <div class="col-xs-12 col-sm-8">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="loading" id="spin">
                        </div>
                        <p class="text-center loading-message"><em>must be your first time here?<br>hold up while we fetch your data!</em></p>
                    </div>
                </div>
                
                <div class="row statistics">

                    <div class="col-xs-12 col-md-6 repo-languages">
                        <h3><span class="mega-octicon octicon-repo"></span> Repo languages</h3><hr>
                        <div class="chart"></div>
                        <p class="lang-label"></p>
                    </div>

                    <div class="col-xs-12 col-md-6 code-languages">
                        <h3><span class="mega-octicon octicon-file-code"></span> Code languages</h3><hr>
                        <div class="chart"></div>
                        <p class="lang-label"></p>
                    </div>

                    <div class="col-xs-12 col-md-6 stars">
                        <h3><span class="mega-octicon octicon-star"></span> Stars</h3><hr>
                        <table class="table">
                            <tr>
                                <th>Total</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Average per repo</th>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-xs-12 col-md-6 forks">
                        <h3><span class="mega-octicon octicon-repo-forked"></span> Forks</h3><hr>
                        <table class="table">
                            <tr>
                                <th>Total</th>
                                <td>x</td>
                            </tr>
                            <tr>
                                <th>Average per repo</th>
                                <td>x</td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-xs-12 col-md-6 pages">
                        <h3><span class="mega-octicon octicon-file-text"></span> Pages</h3><hr>
                        <table class="table">
                            <tr>
                                <th>Total</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Percentage of repos with pages</th>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-xs-12 col-md-6 issues">
                        <h3><span class="mega-octicon octicon-issue-opened"></span> Issues</h3><hr>
                        <table class="table">
                            <tr>
                                <th>Total</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Average per repo</th>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
