<div class="container">
    <div class="content">
        <div class="row">
            
            <div class="col-xs-12 col-sm-4 text-center">
                <img class="img-responsive img-circle user-avatar" src="<%= @user.avatar %>">
                <h1>
                    <%= @user.name %>
                </h1>
                <h4 class="username">
                    <%= @user.username %>
                </h4>
                <p>
                    <strong><%= @user.followers %></strong> followers &middot;
                    <strong><%= @user.following %></strong> following
                </p>
                <p>
                    <strong><%= @user.public_repos %></strong> public repos &middot;
                    <strong><%= @user.public_gists %></strong> public gists
                </p>
                <p>
                    Joined GitHub on <strong><%= @user.join_date.to_time.to_formatted_s(:long_ordinal) %></strong>
                </p>
            </div>

            <div class="col-xs-12 col-sm-8">
                
                <h1>Languages</h1><hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <canvas class="repo-languages"></canvas>
                        <p class="text-center">repos per lang</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <canvas class="code-languages"></canvas>
                        <p class="text-center">bytes of code per lang</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
